{% extends "base.html" %}

{% block conteudo %}
    <h2>Login</h2>
    <hr>
    {% if form.errors %}
        <ul>
            {% for title, message in form.errors.items %}
                <li>{{ title }}: {{ message }}</li>
            {% endfor %}            
        </ul>
    {% endif %}

    <form action="{% url 'login' %}" method="POST">
        <div>
            <label for="username">Usuário</label>
            <input type="text" name="username" id="username">
        </div>
        <div>
            <label for="password">Senha</label>
            <input type="password" name="password" id="password">
        </div>
        <div>
            <button type="submit">Efetuar Login</button>
        </div>
    </form>
{% endblock conteudo %}