{% extends "base.html" %}

{% block conteudo %}
    <div class="row justify-content-center">
        <div class="col-6 justify-content-center">
            <div class="row">
                {% if form.errors %}
                <div class="col justify-content-center">
                    <ul class="list-unstyled">
                        {% for _, erros in form.errors.get_json_data.items %}
                            {% for erro in erros %}
                                <li class="d-flex justify-content-center"><strong>{{ erro.message }}</strong></li>
                            {% endfor %}
                        {% endfor %}            
                    </ul>
                </div>
                {% endif %} 
            </div>
            <div class="row justify-content-center">
                <div class="col justify-content-center">
                    <form action="{% url 'login' %}" method="POST">
                        {% csrf_token %}
                        <div>
                            <label for="username" class="form-label">Usuário</label>
                            <input type="text" name="username" id="username" class="form-control">
                        </div>
                        <div>
                            <label for="password" class="form-label">Senha</label>
                            <input type="password" name="password" id="password" class="form-control">
                        </div>
                        <div class="mt-2">
                            <button type="submit" class="btn btn-primary">Efetuar Login</button>
                        </div>
                    </form>
                    <div class="mt-2">
                        <a href="{% url "password_reset" %}">Esqueci a senha</a>
                    </div>
                    <div class="mt-2">
                        <a href="{% url "registro:pre_registro" %}">Não tenho cadastro</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock conteudo %}