{% extends "base.html" %}

{% block conteudo %}
    {% if validlink %}
        <p>Informe e confirme a sua nova senha</p>

        {% if form.errors %}
            {% for _, mensagem in form.errors.items %}
                <div>{{ mensagem }}</div>
            {% endfor %}
            <hr>
        {% endif %}

        <form action="" method="post">
            {% csrf_token %}
            <div>
                <label for="new_password1">Informe a nova senha</label>
                <input type="password" name="new_password1" id="new_password1">
            </div>
            <div>
                <label for="new_password2">Confirme a nova senha</label>
                <input type="password" name="new_password2" id="new_password2">
            </div>
            <br>
            <div>
                <button type="submit">Enviar</button>
            </div>
        </form>
    {% else %}
        <h3>O link inserido é inválido! Por favor verifique o link de acesso ou refaça o processo</h3>
    {% endif %}

{% endblock conteudo %}