{% extends "base.html" %}

{% block conteudo %}
    <form action="" method="POST">
        {% csrf_token %}
        <div>
            {{ form.email }}
            <div id="ajuda-email" class="form-text mb-3">Realize o seu pré-cadastro. Informe o seu e-mail e após clicar no botão "Enviar", será enviado um link de confirmação de cadastro para o seu e-mail</div>
        </div>
        <div class="d-grid">
            <button type="submit" class="btn btn-primary">Enviar</button>
        </div>
    </form>
{% endblock conteudo %}