{% extends "base.html" %}

{% block conteudo %}

    {% if form.errors %}
        <div class="row mt-3">
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <ul class="list-unstyled">
                    {% for _, erros in form.errors.get_json_data.items %}
                        {% for erro in erros %}
                            <li class="d-flex justify-content-center"><strong>{{ erro.message }}</strong></li>
                        {% endfor %}
                    {% endfor %}
                </ul>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>
    {% endif %}

    <form action="" method="POST">
        {% csrf_token %}
        <div class="mt-3">
            {{ form.email }}
            <div id="ajuda-email" class="form-text mb-3">Realize o seu pré-cadastro. Informe o seu e-mail e após clicar no botão "Enviar", será enviado um link de confirmação de cadastro para o seu e-mail</div>
        </div>
        <div class="d-grid">
            <button type="submit" class="btn btn-primary">Enviar</button>
        </div>
    </form>
{% endblock conteudo %}